<div class="grupo modelo ff-roboto-mono grupo-p">
  <mat-icon>groups</mat-icon>
  <div class="conteudo">
    <p><b>Plataforma: </b>{{grupo.plataforma}}</p>
    <p><b>Link: </b>{{grupo.link}}</p>
  </div>
  <div class="acoes">
    <button class="botao-editar" routerLink="/editar-grupo">
      <mat-icon class="icone-editar">edit</mat-icon>
    </button>
    <button class="botao-excluir" routerLink="/excluir-grupo">
      <mat-icon class="icone-deletar">delete</mat-icon>
    </button>
  </div>
</div>
