.grupo {
  background-color: white;
  padding: 1rem;
  box-sizing: border-box;
  transition: 0.5s ease;
  margin-top: 5%;
}

.grupo .conteudo {
  margin: 1rem auto;
  word-wrap: break-word;

}

.excluir {
  color: red;
}

.grupo-p {
  width: 300px;
}

.acoes {
  display: flex;
  justify-content: center;
}

.botao {
  margin: 5px;
}
