<div class="grupo centralizar-container ff-roboto-mono grupo-p">
  <mat-icon>groups</mat-icon>
  <div class="conteudo">
    <label for="plataforma"><b>Plataforma:</b></label>
    <input
      type="text"
      class="input"
      id="grupo-plataforma"
      name="plataforma"
      placeholder="Plataforma do grupo"
      [(ngModel)]="grupo.plataforma"
    >
    <label for="link"><b>Link:</b></label>
    <input
      type="text"
      class="input"
      id="link-grupo"
      name="link"
      placeholder="Link do grupo"
      [(ngModel)]="grupo.link"
    >
  </div>
  <div class="acoes">
    <button mat-stroked-button (click)="editarGrupo(grupo)" class="botao">Salvar</button>
    <button mat-stroked-button mat-dialog-close class="botao">Cancelar</button>
  </div>
</div>
