<section class="container">
  <header class="header d-flex">
    <h2 class="ff-inter">Matérias</h2>
  </header>
  <div *ngIf="listaMaterias.length > 0">
    <mat-slide-toggle color='primary'><b class="ff-inter">Apenas matérias ofertadas</b></mat-slide-toggle>
  </div>
  <div class="mural" *ngIf="listaMaterias.length > 0, else semMaterias">
    <div *ngFor="let materia of listaMaterias">
      <app-ver-materia [materia]="materia"></app-ver-materia>
    </div>
  </div>
</section>

<ng-template #semMaterias>
<div class="sem-materias ff-inter modelo aviso centralizar-container">
  <mat-icon class="icone-aviso">info</mat-icon>
  <p class="conteudo">Ainda não há matérias registradas! Por favor, verifique a conectividade com a API!</p>
</div>
</ng-template>

