<div class="materia modelo ff-roboto-mono materia-p">
  <mat-icon>menu_book</mat-icon>
  <div class="conteudo">
    <p><b>Nome: </b>{{materia.nome}}</p>
    <p><b>Período: </b>{{materia.periodo}}</p>
    <p><b>Professor: </b>{{materia.professor}}</p>
    <p><b>Atualização: </b>{{materia.atualizacao}}</p>
    <div *ngIf="materia.ofertada, else falso">
      <p><b>Ofertado: </b><mat-icon class="ofertada">check_circle</mat-icon></p>
    </div>
    <ng-template #falso>
      <p><b>Ofertado: </b><mat-icon class="nao-ofertada">cancel</mat-icon></p>
    </ng-template>
  </div>
  <div class="acoes">
    <button class="botao-editar" (click)="openDialogEditMat()">
      <mat-icon class="icone-editar">edit</mat-icon>
    </button>
  </div>
</div>
