<div class="materia modelo ff-roboto-mono materia-p">
  <mat-icon>menu_book</mat-icon>
  <div class="conteudo">
    <p><b>Nome: </b>{{materia.nome}}</p>
    <p><b>Período: </b>{{materia.periodo}}</p>
    <p><b>Professor: </b>{{materia.professor}}</p>
    <p><b>Atualização: </b>{{materia.atualizacao}}</p>
    <p><b>Ofertado: </b>{{materia.ofertada}}</p>
  </div>
  <div class="acoes">
    <button class="botao-editar">
      <mat-icon class="icone-editar">edit</mat-icon>
    </button>
  </div>
</div>
