<mat-toolbar *ngIf="mostrarMenu">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="fonte-logo">Chatbot</span>
  <span class="example-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Perfil">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="fazerLogOut()" (click)="drawer.close()">
      <mat-icon>logout</mat-icon>
      <span>Sair</span>
    </button>
  </mat-menu>

</mat-toolbar>

<mat-drawer-container class="example-container">
<mat-drawer #drawer class="example-sidenav" mode="side">

  <mat-list role="list" *ngIf="mostrarMenu">
    <mat-list-item role="listitem">
      <button mat-flat-button routerLink="/gerenciar-alunos" routerLinkActive="botao-ativo">
        <mat-icon>person</mat-icon><span> Gerenciar Alunos</span>
      </button>
    </mat-list-item>
    <mat-list-item role="listitem">
      <button mat-flat-button routerLink="/gerenciar-grupos" routerLinkActive="botao-ativo">
        <mat-icon>groups</mat-icon><span> Gerenciar Grupos</span>
      </button>
    </mat-list-item>
    <mat-list-item role="listitem">
      <button mat-flat-button routerLink="/materias" routerLinkActive="botao-ativo">
        <mat-icon>auto_stories</mat-icon><span> Matérias</span>
      </button>
    </mat-list-item>
    <mat-list-item role="listitem">
      <button mat-flat-button routerLink="/cursos" routerLinkActive="botao-ativo">
        <mat-icon>school</mat-icon><span> Cursos</span>
      </button>
    </mat-list-item>
  </mat-list>

</mat-drawer>

  <router-outlet></router-outlet>

  <footer class="bg-light">
    <div class="text-center">Copyright &copy; Projeto-Integrador 1</div>
  </footer>
</mat-drawer-container>
