<section class="container">
  <header class="header d-flex">
    <h2 class="ff-inter">Grupos</h2>
    <button mat-stroked-button class="adc-grupo ff-inter" (click)="openDialogAdcGrupo()">Adicionar Grupo</button>
  </header>
  <div class="mural" *ngIf="listaGrupos.length > 0, else semGrupos">
    <div *ngFor="let grupo of listaGrupos">
      <app-ver-grupo [grupo]="grupo"></app-ver-grupo>
    </div>
  </div>
</section>

<ng-template #semGrupos>
<div class="sem-grupos ff-inter modelo aviso centralizar-container">
  <mat-icon class="icone-aviso">info</mat-icon>
  <p class="conteudo">Ainda não há grupos registrados!</p>
  <div class="acoes">
    <button class="botao-redirecionar" mat-flat-button routerLink="/" routerLinkActive="botao-ativo">
      <span> Registrar Grupo </span>
      <mat-icon>input</mat-icon>
    </button>
  </div>
</div>
</ng-template>

